extends layout

block content
  .main-container
    .cloud-image
        img(src='/images/successCloudNew.svg')
    .content
        .tweet-container
             a(href='http://twitter.com/intent/tweet/?text=I%20just%20created%20a%20new%20Node.js%20Express%20website%20on%20Azure%20using%20Azure%20DevOps%20Project&hashtags=GitHubDreamLifter%2CVSTS%20%40Azure%20%40Pipelines')
                img(src='/images/tweetThis.svg')    
        .content-body
            .success-text
                p GitHub + Azure rocks!
            .description 
                p App service has been successfully setup
            .description
                p Your Node.js Express app is up and running on Azure!!!
    
  .row
    .col-md-4
      h2 Get started right away
      p Clone your code repository and start developing your application on IDE of your choice
      p
        a.btn.btn-default(href='https://go.microsoft.com/fwlink/?linkid=862409') Learn more &raquo;
    .col-md-4
      h2 Continuous Integration
      p View your pipeline under Actions tab!
      p
        a.btn.btn-default(href='https://go.microsoft.com/fwlink/?linkid=862410') Learn more &raquo;
    .col-md-4
      h2 GitHub Actions
      p Making CI a first class citizen in GitHub through a native CI experience. 
      p Technically, we will do this by leveraging Azure Pipelines technologies, but from a customer perspective it will be a fully GitHub experience.
      p Humans want easy and powerful automation :)
      p
        a.btn.btn-default(href='https://go.microsoft.com/fwlink/?linkid=862126') Learn more &raquo;
